/* General selector  */
* {
    font-family: 'Quicksand', sans-serif;
}

:root {
    --cr-light: white;
}

/* background zone  */

.my_container {
    height: 100vh;
}


.img_background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-align: center;
    z-index: -2;

}

.conatiner_img {
    width: 100%;
    height: 100%;
}

.container_description {
    text-shadow: 0px 4px 8px black;
}

.opacity_0 {
    opacity: 0;
}

/* CAROUSEL */


/* btn carousel  */

i {
    filter: drop-shadow(2px 0px 5px black);
    
}

.btn_carousel {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
    z-index: 1;
    margin: 0 30px;
    color: rgba(252, 252, 252, 0.451);

}

.btn_left i, .btn_right i {
    transition-duration: 0.4s;
    color: rgba(252, 252, 252, 0.451);
}

.btn_left i:hover {
    color: var(--cr-light);
}

.btn_right i:hover {
    color: var(--cr-light);
}

/* thumbnail carousel  */

.thumbnail {
    width: 20%;
    transition-duration: 1s;
    filter: drop-shadow(0px -4px 8px black);
    cursor: pointer;

}

.thumbnail>img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.container_thumbnail .thumbnail:hover {
    transform: scale(1);
    filter: brightness(100%);
}

*.thumbnail:not(.shadow) {
    filter: brightness(30%);
    transform: scale(0.9);
}

*.container_img:not(.active) {
    display: none;
}

/* btn_media  */

.stop_btn, .play_btn, .reverse_btn {
    color: rgba(252, 252, 252, 0.451);
}

.container_media>button>i {
    font-size: 30px;
    transition-duration: 0.4s;
}

.container_media>button>i:hover {
    color: var(--cr-light);
}

.light_press {
    color: white;
}

/* -----FOOTER---- */

footer {
    bottom: 4px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(255, 255, 255, 0.788);


}

/* ANIMATION */

@keyframes move_left {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;

    }
}

@keyframes move_right {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}